{{#if hasBlock}}
  {{yield stars}}
{{else}}
  {{#each stars as |star| }}
    <a href="#" onClick={{action "setRating" star.rating}}>
      {{#if star.isFull}}
        {{fa-icon 'star'}}
      {{else}}
        {{fa-icon 'star-o'}}
      {{/if}}
    </a>
  {{/each}}
{{/if}}
