<div class="rr-sidebar">
  <ul class="rr-list">
    {{#each model as |band|}}
      <li>
        {{#link-to "bands.band" band.id class="rr-band-link"}}
          {{band.name}}

          <span class="rr-pointer">
            {{fa-icon "angle-right"}}
          </span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>

  <div class="rr-new-label">
    {{#if isAddingBand}}
      <form class="rr-inline-form" onsubmit={{action "saveBand"}}>
        {{input type="text" class="RR_input" value=newBandName placeholder="New Band"}}
        <button type="button" class="rr-action-button" disabled={{isAddButtonDisabled}} onclick={{action "saveBand"}}>Add</button>
        <span class="rr-cancel-icon" onclick={{action "cancelAddBand"}}>
          {{fa-icon "times"}}
        </span>
      </form>
    {{else}}
      <label onclick={{action "addBand"}}>
        {{fa-icon "plus"}}
        <span class="ml1">Add new band</span>
      </label>
    {{/if}}
  </div>
</div>

<div class="rr-main-panel">
  {{outlet}}
</div>
